<h1>Your Friends</h1>

<% @users.each do |friend| %>
    <div class="card">
        <div class="row">
            <div class="col-md-2">
                <% if friend.picture? %>
                    <%= image_tag "#{friend.picture}", class: "card-img" %>
                <% else %> 
                    <%= image_tag "default.png", class: "card-img" %>
                <% end %>
            </div>
            <div class="card-body col-md-8 mt-4">
                <%= link_to "#{friend.first_name} #{friend.last_name}", user_path(friend.id) %>
            </div>
        </div>
    </div>
<% end %>

<%= link_to "Find new friends", users_path, class: "btn btn-success form-control mt-2" %>