<div class="content">
    <% @to_requests.each do |request| %>
        <% if request.from_user.picture? %>
            <%= image_tag "#{request.from_user.picture}", class: :img %>
        <% else %> 
            <%= image_tag "default.png", class: :img %>
        <% end %>
        <%= link_to "#{request.from_user.first_name} #{request.from_user.last_name}", user_path(request.from_user.id) %> 
        <%= link_to "Accept", request_path(request.id), method: :patch, class: "button push" %>
    <% end %>
</div>



